
body {
    text-align: center;
    background-color: #F8E9A7;
}



img {
    width: 600px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    max-width: 100%;
    align-items: center;
    
}

a {
    color: green;
    margin: 15px;
    display: inline;
    text-align: center;
}